 @import "tailwindcss";
 html {
  scroll-behavior: smooth;
}

 /*  
:root {
  --color-mint: #cee1dd;
  --color-sage-light: #c4cdc1;
  --color-sage: #99aead;
  --color-teal: #6d9197;
  --color-sage-green: #658b6f;
  --color-dark-teal: #2f575d;
  --color-charcoal: #28363d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
} */
